.content {
  max-width: 500px;
  margin: auto;
  text-align: center;
}

#image {
	padding: 20px;
}

h1 {
	font-family: brandon-grotesque, sans-serif;
	font-weight: 300;
	font-size: 2.5em;
	color: #c3cf21;

}

h3 {
	font-family: utopia-std, serif;
	font-weight: 700;
	font-size: 1em;	
	color: #2c2b34;
}
	
#list {
    font-family: utopia-std, serif;
    font-weight: 400;
    font-style: italic;
    color: #2c2b34;
}

p {

	font-family: utopia-std, serif;
	font-weight: 400;
	color: #2c2b34;
}

a {
	font-family: utopia-std, serif;
	font-weight: 700;
	color: #c3cf21;

